/* source used to find the colour code: https://htmlcolorcodes.com/color-picker/*/
*{
  margin: 0px;
  padding: 0px;
}
header{
  background-color: rgba(22, 15, 62, 1);
  text-align: center;
  padding: 20px;
  height: 18%;
}

header h1{
  font-size:50px;
  color: white;
}

header p{
  font-size: 20px;
  color: white;
}
h2 {
  font-size: 30px;
}
.menu{
  background-color: rgb(196, 131, 26);
  text-align: center;
  font-size: 25px;
  height: 50px;
  padding: 20px;
}
.menu ul{
  list-style: none;
  color: white;
}
.menu ul li{
  margin: 30px;
  padding: 30px;
  display: inline;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 800px) {
  .menu {
    height: auto;
    padding: 15px;
  }
  .menu ul {
    width: 100%;
    height: 35vh;
    top: 10px;
    left: 0;
    text-align: center center;
  }
  .menu ul li {
    display: block;
    padding: 0px;
  }
  .menu ul li a{
    font-size: 25px;
    margin: 0px;
  }
}


body {

  background-color: rgb(210, 211, 212);
}

.innhold{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 75px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.innhold h1{
  color: rgba(22, 15, 62, 1);
  text-decoration: underline;
  text-decoration-color: rgb(196, 131, 26);
  font-size: 3em;
}
.innhold p{
  font-size: 1.3em;
}

.section1box{
  height: 200px;
  background-color: rgb(196, 131, 26);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img{
  border-style: solid;
  color: rgb(196, 131, 26);
  border-width: 10px;
}

footer{
  background-color: rgba(22, 15, 62, 1);
  height: 75px;
  padding: 30px;
  text-align: center;
  color: white;
}
.responsive {
  max-width: 100%;
  height: auto;
}

@media (max-width: 750px) {
  .innhold {
    margin: 0;
  }

}
